<% layout("/layouts/boilerplate") %>


<div class="row d-flex">
  <div class="scroll-container col-8 mt-4 mb-4">
    <button class="scroll-button left" onclick="sLeft()">&#10094;</button>
    <div class="filters-container">
        <div class="filters">
          <input type="radio" class="btn-check" name="options-base" id="option1" autocomplete="off">
          <label class="btn labelRadio" for="option1">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
              <i class="fas fa-mountain"></i>
              <p>Mountains</p>
            </div>
          </label>
          <input type="radio" class="btn-check" name="options-base" id="option2" autocomplete="off">
          <label class="btn labelRadio" for="option2">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-water-ladder"></i>
            <p>Amazing Pools</p>
          </div>
          </label>
          
          <input type="radio" class="btn-check" name="options-base" id="option3" autocomplete="off">
          <label class="btn labelRadio" for="option3">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fab fa-fort-awesome"></i>
            <p>Castle</p>
          </div>
          </label>
          
          <input type="radio" class="btn-check" name="options-base" id="option4" autocomplete="off">
          <label class="btn labelRadio" for="option4">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-earth-americas"></i>
            <p>Amazing Cities</p>
          </div>
          </label>
          
          <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off">
          <label class="btn labelRadio" for="option5">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-snowflake"></i>
            <p>Arctic</p>
          </div>
          </label>
          
          <input type="radio" class="btn-check" name="options-base" id="option6" autocomplete="off">
          <label class="btn labelRadio" for="option6">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-house-chimney"></i>
            <p>Rooms</p>
          </div>
          </label>
          
          <input type="radio" class="btn-check" name="options-base" id="option7" autocomplete="off">
          <label class="btn labelRadio" for="option7">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-umbrella-beach"></i>
            <p>Beach</p>
          </div>
          </label>
          
          <input type="radio" class="btn-check" name="options-base" id="option8" autocomplete="off">
          <label class="btn labelRadio" for="option8">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-campground"></i>
            <p>Camping</p>
          </div>
          </label>
          
          <input type="radio" class="btn-check" name="options-base" id="option9" autocomplete="off">
          <label class="btn labelRadio" for="option9">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-building"></i>
            <p>Apartment</p>
          </div>
          </label>
          
          <input type="radio" class="btn-check" name="options-base" id="option10" autocomplete="off">
          <label class="btn labelRadio" for="option10">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-water"></i>
            <p>Lake</p>
          </div>
          </label>
          
          <input type="radio" class="btn-check" name="options-base" id="option11" autocomplete="off">
          <label class="btn labelRadio" for="option11">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-sailboat"></i>
            <p>Boats</p>
          </div>
          </label>
          
          <input type="radio" class="btn-check" name="options-base" id="option12" autocomplete="off">
          <label class="btn labelRadio" for="option12">
            <div class=" filter d-flex flex-column justify-content-center align-items-center">
            <i class="fas fa-landmark"></i>
            <p>Landmarks</p>
          </div>
          </label>
          
        </div>
    </div>
    <button class="scroll-button right" onclick="scrollRight()">&#10095;</button>
</div>

<div class="offset-1 col-3 mt-2 form-check-reverse form-switch">
  <label class="form-check-label tax taxLabel" for="flexSwitchCheckDefault">Show prices with tax</label>
  <input class="form-check-input tax  taxInput" type="checkbox" role="switch" id="flexSwitchCheckDefault">
</div>


</div>


        

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%=listing._id %>" class="listing-link">
                <div class="card col listing-card" >
                    <img 
                    src="<%= listing.image.url %>" 
                    class="card-img-top"
                     alt="listing_image" 
                    style=" height: 20rem"
                    >
                    <div class="card-img-overlay">HR</div>
                    <div class="card-body">
                      <h5 class="card-title"><%= listing.title %></h5>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item withoutTax"> &#8377; <%= listing.price.toLocaleString("en-IN")%>/Night</li>
                      <li class="list-group-item withTax"> &#8377; <%= (listing.price+0.18*listing.price).toLocaleString("en-IN")%>/Night</li>
                      <li class="list-group-item"><i class="fa-solid fa-location-arrow"></i><%= listing.location %></li>
                      <li class="list-group-item"><i class="fa-solid fa-location-dot"></i><%= listing.country %></li>
                      <li class="list-group-item filter" style="display: none;"><%= listing.filters %></li>
                    </ul>
                  </div>
                  <hr>
                </div>
            </a>
            
            <% } %>
    </div>
        
                
  