<% layout("/layouts/boilerplate") %>
 
<script>
  const mapToken =  "<%=process.env.MAP_TOKEN%>";
  const listing = <%-JSON.stringify(listing)%>;
</script>
  
      <div class="card  shadow-sm rounded listing-card container ">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="<%= listing.image.url %>" class="img-thumbnail rounded-start show-img mt-3" alt="listing_image">

            <hr>

            <% if(currUser) { %>
              <h5 class="text-center mb-3 mt-3 fs-4 fw-medium">Leave a Review</h5>
              <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">

                <div>
                  <label for="rating" class="form-label fs-5 mt-3 ">Rating</label>
                </div>

                <fieldset class="starability-growRotate">
                  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                    aria-label="No rating." />
                  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>

                <div>
                  <label for="comment" class="form-label fs-5 mt-3  ">Comments</label>
                  <textarea name="review[comment]" id="comment" cols="30" rows="5"
                    class="form-control border-danger border-opacity-50 rounded-4  fs-5 fst-italic fw-lighter" required
                    placeholder="Please share your experience with us"></textarea>
                  <div class="invalid-feedback">
                    Please share your experience.
                  </div>
                </div>

                <button class="btn btn-outline-danger mt-3">Submit</button>

              </form>
              <% } %>
          </div>


          <div class="col-md-7 ">

            <div class="card-body ms-5 mt-3 ">
              <h5 class="card-title mb-3 fs-4 ">
                <%= listing.title %>
              </h5>
              <p class="card-text ">
                <%= listing.description %>
                  <hr> <i> Owned by <%= listing.owner.username %></i>
                  <hr class="my-2 mb-3 mt-3"> <span class="fw-bold">Price:</span>
                  <%= listing.price %>
                    <hr class="my-2 mb-3 mt-3">
                    <span class="fw-bold">Country:</span>
                    <%= listing.country %>
                      <hr class="my-2 mb-3 mt-3">
                      <span class="fw-bold">Location:</span>
                      <%= listing.location %>
                        <hr>

                        <% if(currUser&& listing.owner._id.equals(currUser._id)) { %>
                          <form method="POST" class="flex " action="/listings/<%= listing._id %>?_method=DELETE">
                            <a class="btn btn-outline-danger" href="/listings/<%= listing._id %>/edit">Edit this
                              Listing</a>
                            <button type="submit" class="btn btn-outline-danger">Delete this Listing</button>
                          </form>
                          <% } %>
              </p>


              <h4 class="text-center mb-3 mt-5 fs-4 fw-medium">Reviews</h4>
              <div class="container">
                <div class="row">
                  <% for(review of listing.reviews){ %>
                    <div class="col-md-6 mb-3">
                      <div class="card p-2 border border-danger border-opacity-50 rounded-4 ">
                        <h5 class="card-header fs-5 fw-normal">
                          <%= review.author.username %>
                        </h5>
                        <div class="card-body">
                          <h5 class="card-title ms-2 fs-6 fst-italic fw-normal">
                            <%=review.comment %>
                          </h5>

                          <p class="starability-result card-text " data-rating="<%=review.rating %>"></p>
                          <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                            method="POST">
                            <button ty pe="submit" class="btn btn-outline-danger">Delete</button>
                          </form>

                        </div>
                      </div>
                    </div>
                    <% } %>
                </div>
              </div>

            


            </div>
          </div>

<hr>
         
            <h3  class="  mt-3 mb-4">Where you'll be</h3>
            <div class=" mr-5" id="map"></div>

       <script src="/js/map.js"></script>

          <!-- <script>
            let mapToken = "<%=process.env.MAP_TOKEN%>";
            console.log(mapToken);
            mapboxgl.accessToken = mapToken;
              const map = new mapboxgl.Map({
                  container: 'map', // container ID
                  center: [77.5699, 28.8344], // starting position [lng, lat]. Note that lat must be set between -90 and 90
                  zoom: 13 // starting zoom
              });
          </script> -->
          







        </div>
      </div>
   